@import "css/colors.scss";
@import "css/spaces.scss";

.Background {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  &.is-transparent {
    background-color: transparent;
  }

  &.mode3D {
    pointer-events: none;
  }
}

.ButtonPanel {
  z-index: 20;
  user-select: none;

  .Icon {
    svg {
      width: 25px;
      height: 25px;
    }
  }
}

.Canvas {
  user-select: none;
  -webkit-user-drag: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;

  &.is-hidden {
    display: none;
  }
}

.HeaderBar {
  z-index: 10;
}

.ResizePanel {
  background-color: color("background");
  box-shadow: 0px 3px 6px #00000029;
  box-sizing: border-box;
  left: 0;
  padding: 40px 14px 14px 14px;
  position: absolute;
  top: 0;
  transition: transform 0.2s ease;
  width: 100%;
  z-index: 20;

  .SubmitButton {
    border: 2px solid;
    border-radius: 50%;
    fill: #262f3a;
    color: #262f3a;

    svg {
      width: 14px;
      height: 14px;
    }
  }

  &.is-hidden {
    transform: translateY(-100%);
  }
}

.SlideWrapper {
  z-index: 50;
}

.Measurements {
  display: flex;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 10%;
  transform: translateX(-50%);
  z-index: 10;
}

.Measurement {
  padding: space(2) space(3);
  margin: space(3);
  border: 2px solid;
  border-radius: calc(1em + #{space(2)});
  white-space: nowrap;
  pointer-events: auto;
}

.WallButton,
.FloorButton {
  background: color("background");
  color: black;
  padding: space(4) space(5);
  z-index: 30;
  border-radius: calc(1em + #{space(4)});
  text-transform: none;
}
