@import "css/colors.scss";

.SceneInfoContainer {
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 40px 32px 0px;
  position: relative;
  transition: transform 0.15s;
  width: 100%;

  .ToggleView {
    height: 24px;
    left: 18px;
    padding: 1px;
    position: absolute;
    top: 40px;
    width: 24px;
  }

  .SceneInfoUpper,
  .SceneInfoLower {
    width: 100%;
  }

  .SceneInfoUpper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 45px 0 0;
  }

  .SceneInfoLower {
    padding: 25px 0 0;
    overflow: scroll;

    p {
      margin: 0;
      font-size: 12px;
      line-height: 16px;
      color: #262f3a;
    }
  }

  .SectionTitle {
    color: #807f7f;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.12px;
    line-height: 13px;
    margin: 7px 0 20px 0;
    text-transform: uppercase;
  }

  .LinkOptions {
    align-items: center;
    border-bottom: 0.5px solid #d8d8d8;
    display: flex;
    font-size: 15px;
    height: 55px;
    justify-content: flex-start;
    letter-spacing: 0.18px;
    line-height: 19px;
    padding: 0 3px;
    pointer-events: auto;
    width: 100%;

    img {
      height: 20px;
      margin-right: 12px;
      width: 20px;
    }

    &.isActive {
      color: #a3a3a3;
    }
  }

  .DetailWrapper {
    display: flex;
    flex-direction: column;
  }

  .ProductWrapper {
    border-bottom: 0.5px solid #d8d8d8;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 119.5px;
    justify-content: space-evenly;
    padding: 0px 0px 15px 20px;
    width: 100%;
    margin-bottom: 22.5px;

    .ProductWrapperUpper {
      display: flex;
      margin-bottom: 10px;

      .ImageWrapper {
        border-radius: 50%;
        display: flex;
        height: 54px;
        margin-right: 10px;
        overflow: hidden;
        width: 54px;

        img {
          max-height: 100%;
          max-width: 100%;
        }
      }

      .Name {
        font-family: Montserrat, Semi-Bold;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.18px;
        line-height: 19px;
        color: #262f3a;
      }

      .Price {
        font-size: 10px;
        letter-spacing: 0.12px;
        line-height: 13px;
        color: #a8a1a1;
      }
    }

    .ProductWrapperLower {
      button {
        border-radius: 20px;
        box-sizing: border-box;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.14px;
        line-height: 15px;
        margin-right: 10px;
        min-width: 79px;
        padding: 10px;
        text-transform: uppercase;
      }

      .Remove {
        background-color: white;
        border: 1px solid #6c6c6c;
        color: #6c6c6c;
      }

      .Shop {
        border: 1px solid color("brand", "primary");
        color: #ffffff;
        background-color: color("brand", "primary");
      }
    }
  }
}
