@import "css/colors.scss";

.Wrapper {
  align-items: flex-start;
  background-color: transparent;

  &.Hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.Thumbnail {
  -webkit-overflow-scrolling: touch;
  bottom: 11vh;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  left: 0;
  overflow: auto;
  padding: 5px;
  position: absolute;
  scroll-snap-type: x mandatory;
  width: 100%;
}

.Value {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 12px;
  overflow: visible;
  scroll-snap-align: center;
}

.Spacer {
  display: flex;
  flex: 0 0 auto;
  height: 50px;
  width: 50px;
}

.Image {
  background: center / cover no-repeat;
  border-radius: 50%;
  border: 1px solid #aba29a;
  box-sizing: border-box;
  height: 50px;
  overflow: hidden;
  width: 50px;
  z-index: 40;
  &.isSelected {
    border: 2px solid #ffffff;
  }
}

.Name {
  color: white;
  display: none;
  font-size: 8px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 10px;
  margin-top: 7px;
  &.isSelected {
    display: block;
  }
}
