@import "css/colors.scss";

.Loading {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;

  .Container {
    position: relative;
  }

  // .Container.isHidden {
  //   opacity: 0;
  // }

  .Percentage {
    color: white;
    font-size: 18px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.Container {
  height: 80px;
  transition: opacity 0.3s;
  width: 80px;
}
