@import "css/spaces.scss";
@import "css/colors.scss";
@import "css/sizes.scss";

.Button {
  color: color("background");
  margin: space(0);
  padding: space(1) space(2);
  border: none;
  cursor: pointer;
  background-color: color("brand", "primary");
}

.is-button {
  text-transform: uppercase;
  border-radius: space(4);
  font-size: fontSize(1);

  &:disabled {
    background-color: color("brand", "secondary");
    cursor: not-allowed;
  }
}

.is-icon {
  background-color: transparent;
}
