@import "css/colors.scss";

$height: 123px;
$width: 144px;

.Wrapper {
  align-items: flex-start;
  background-color: white;
  flex-direction: column;
  margin: 11px 20px 11px 0;
}

.ProductImage {
  background-color: rgba(57, 57, 57, 0.05);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #00000015;
  box-sizing: border-box;
  height: $height;
  width: $width;
}

.Name,
.Price {
  color: #262f3a;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 18px;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.Name {
  margin-top: 8px;
  font-weight: 600;
}

.Price {
  letter-spacing: 0.17px;
  line-height: 18px;
}
