.InnerFormWrapper {
  align-items: center;
  background: #ffffff;
  border-radius: 0.5em;
  box-sizing: border-box;
  display: flex;
  display: flex;
  flex: 1;
  margin: 0;
  padding: 15px;
}

.SearchVerticalSpacer {
  border-left: 1px solid grey;
  height: 24px;
  width: 7px;
  flex: 0 0 auto;
}

.SearchInput {
  border: none;
  color: #262f3a;
  flex: 1;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  outline: none;
  padding: 0;
  flex: 1 1 auto;

  &::placeholder {
    color: #a8a1a1;
  }
}
