@import "css/colors.scss";

.Overlay {
  background-color: #806f6f;
  height: 100vh;
  left: 0;
  opacity: 0.17;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
}

.Overlay2 {
  background: linear-gradient(180deg, #00000000, #0000007a, #000000);
  bottom: 0;
  height: 30vh;
  left: 0;
  opacity: 0.51;
  pointer-events: none;
  position: fixed;
  width: 100vw;
}

.Default {
  transform: translateX(0);
}

.InstanceActiveBase {
  transform: translateX(-100vw);
}

.InstanceInactive {
  transform: translateX(100vw);
}

.LoadModelText {
  color: white;
  font-size: 14px;
  left: 50%;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 550;
}
