@import "css/colors.scss";
@import "css/spaces.scss";
@import "css/sizes.scss";

.Background {
  background-color: color("background", "base");
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: grid;
  justify-items: center;
  align-items: center;
}

.Container {
  display: grid;
  grid-gap: space(3);
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.Number {
  font-size: 8em;
}

.Message {
  justify-self: baseline;
  align-self: end;
}

.Button {
  grid-area: 2 / 1 / 2 / span 2;
}
