@import "css/colors.scss";

.Wrapper {
  background-color: white;
  box-shadow: 0px 3px 6px #0000000f;
  margin: 0.5em 0;
  padding: 14px 0;
}

.TitleWrapper {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex: 0 0 auto;
}

.CategoryIcon {
  height: 20px;
  width: 20px;
}

.Name {
  font-size: 12px;
  text-transform: uppercase;
  color: #807f7f;
  padding-left: 8px;
}

.CategoryList {
  display: flex;
  overflow-x: scroll;
}

.TitleWrapper,
.CategoryList {
  padding-left: 20px;
}

.SeeAll {
  color: #262f3a;
  display: flex;
  flex: 0 0 auto;
  font-size: 10px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.12px;
  line-height: 13px;
  margin: 10px 0 5px;
}

.FullView {
  &.Wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
  }

  .CategoryList {
    align-content: flex-start;
    flex-flow: row wrap;
    flex: 1 1 auto;
    justify-content: space-around;
  }
}
