@import "css/colors.scss";

.HeaderBar {
  display: flex;
  height: 16px;
  line-height: 16px;
  left: 18px;
  right: 18px;
  position: absolute;
  top: 40px;
  pointer-events: none;
  padding-right: 24px;
}

.BurgerMenu {
  pointer-events: auto;
  flex: 0 0 auto;
}

.Title {
  flex: 1 1 auto;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: color("background", "base");
}
